<div class="container w-50 p-3">
  <form>
    <div class="text-center mb-4">
      <img
        class="mb-4"
        src="../../../assets/navbar-icon.svg"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Warg Login</h1>
    </div>

    <div class="form-label-group">
      <label>Email address</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="e.g: John@doe.com"
        required
        autofocus
      />
    </div>
    <br />
    <div class="form-label-group">
      <label>Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="e.g: johnkickmynuts"
        required
      />
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
  </form>
</div>

<footer class="mt-5 mb-3 text-muted text-center">
  <p>&copy; Company 2018-2019</p>
</footer>
