<navbar></navbar>
<div class="container padding-top">
    <form>
        <fieldset>
            <legend>New Questionnaire</legend>
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Give your questionnaire a snazzy title"
                                name="title" [(ngModel)]="questionnaire.title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                placeholder="Explain your questionnaire to the world" name="description"
                                [(ngModel)]="questionnaire.description">
                        </div>
                    </div>
                </div>
            </div>

            <ng-container *ngFor="let question of questions; let i = index">
                <br />
                <div class="card border-secondary">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Question:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Write a cute question"
                                    name=question-{{i}} [(ngModel)]="questions[i].questionText">
                            </div>
                            <select class="custom-select col-sm-2" name=select-{{i}}
                                [(ngModel)]="questions[i].questionTypeId">
                                <option value="0" disabled selected>Question Types</option>
                                <option *ngFor="let questionType of questionTypes" value={{questionType.id}}>
                                    {{questionType.typeName}}
                                </option>
                            </select>

                            <ng-container *ngIf="questions[i].questionTypeId != 0">
                                <button *ngIf="questions[i].questionTypeId == 1 || questions[i].questionTypeId == 2"
                                    type="button" class="btn btn-primary btn-sm" style="margin: auto;"
                                    (click)="addAnswer(i)"><i class=" fas fa-plus"></i></button>
                            </ng-container>

                        </div>

                        <ng-container *ngFor="let availableAnswer of questions[i].availableAnswers; let iA = index">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Answer:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Give it a funny answer"
                                        name="availableAnswers-{{iA}}" [(ngModel)]="availableAnswer.answerText">
                                </div>
                                <button type="button" class="btn btn-primary btn-sm" id={{iA}}
                                    (click)="removeAnswer(i,iA)"><i class="fas fa-trash"></i></button>
                            </div>
                        </ng-container>

                        <button type="button" class="btn btn-primary btn-sm controlBtn" (click)="moveQuestionUp(i)"><i
                                class="fas fa-long-arrow-alt-up"></i></button>

                        <button type="button" class="btn btn-primary btn-sm controlBtn" (click)="moveQuestionDown(i)"><i
                                class="fas fa-long-arrow-alt-down"></i></button>

                        <button type="button" class="btn btn-primary btn-sm controlBtn" (click)="removeQuestion(i)"><i
                                class="fas fa-trash"></i></button>
                    </div>
                </div>
            </ng-container>



            <br />
            <div class="form-group row">
                <button type="button" class="btn btn-primary btn-sm controlBtn" (click)="addQuestion()"><i
                        class="fas fa-plus"></i> New
                    Question</button>

            </div>

            <p>questions:{{questions | json}}</p>
            <p>questionnaire:{{questionnaire | json}}</p>

            <br />
            <button type="submit" class="btn btn-primary" (click)="addQuestionnaire()">Submit</button>
        </fieldset>
    </form>
</div>