<navbar></navbar>
<div class="container padding-top">
    <div class="card border-secondary mb-3">
        <div class="card-header text-white bg-primary" style="display: inline-flex;">
            <h5>Warg's Users</h5>
            <a class="btn btn-primary ml-auto" role="button" [routerLink]="['/user-create']"><i class="fas fa-plus"></i>
                Create</a>
        </div>
        <div class="card-body">
            <admin-item [users]=this.users></admin-item>
        </div>
    </div>
</div>