<navbar></navbar>
<div class="container padding-top" style="margin-right: inherit;">
    <div class="card border-secondary mb-3" style="width: 50rem;">
        <div class="card-header text-white bg-primary">
            <h5>{{questionnaire.title}} </h5>
            <p><small>{{questionnaire.description}}</small></p>
        </div>
        <div class="card-body">
            <ul class="list-group ">
                <li class="list-group-item border-secondary"
                    *ngFor="let question of questionnaire.questions let i = index;">
                    <div class="row">
                        <h5>{{question.questionText}}</h5>
                    </div>
                    <div class="form-group">
                        <ng-container *ngIf="question.questionTypeId==1">
                            <div class="custom-control custom-radio"
                                *ngFor="let availableAnswer of question.availableAnswers">
                                <input type="radio" id="{{availableAnswer.id}}" name="customRadio"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="{{availableAnswer.id}}">
                                    {{availableAnswer.answerText}}</label>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="question.questionTypeId==2">
                            <select class="custom-select">
                                <option selected="">{{question.questionText}}</option>
                                <option *ngFor="let availableAnswer of question.availableAnswers"
                                    value="availableAnswer.answerText">{{availableAnswer.answerText}}</option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="question.questionTypeId==3">
                            <input type="text" class="form-control" placeholder="{{question.questionText}}"
                                id="{{question.id}}">
                        </ng-container>
                        <ng-container *ngIf="question.questionTypeId==4">
                            <div class="custom-control custom-checkbox"
                                *ngFor="let availableAnswer of question.availableAnswers">
                                <input type="checkbox" class="custom-control-input" id="{{availableAnswer.id}}">
                                <label class="custom-control-label" for="{{availableAnswer.id}}">
                                    {{availableAnswer.answerText}}</label>
                            </div>
                        </ng-container>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>